# Python
__pycache__/
*.py[cod]
*.class
.env
venv/
env/
.pytest_cache/
alembic.ini

# Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
